<form action="/league/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">Create a new Fake Stacks league</h2>

	<% if (flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
		</ul>
	<% } %>
  <br/>
  <div class="form-group">
    <label for="leagueName">League Name</label>
    <input id="leagueName" type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="leagueSport">Sport</label>
    <select id="leagueSport" name="sport" placeholder="Sport" class="form-control custom-select">
      <% Object.keys(sails.config.sports).forEach(function(sportKey) { %>
      <option value="<%= sportKey %>"><%= sails.config.sports[sportKey].name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="startingAccount">Starting Account</label>
	  <input id="startingAccount" type="number" min="0" step="10" max="2000" value="500" class="form-control" name="startingAccount">
  </div>
  <div class="form-group">
    <label for="weeklyBetCountMax">Weekly Bet Count Max</label>
    <input id="weeklyBetCountMax" type="number" class="form-control" min="0" step="1" max="10" value="4" name="weeklyBetCountMax">
  </div>
  <div class="form-group">
    <label for="weeklyBetAccountRatio">Weekly Bet Ratio (%)</label>
    <input id="weeklyBetAccountRatio" type="number" class="form-control" min="10" step="1" max="100" value="50" name="weeklyBetAccountRatio">
  </div>
  <div class="form-group">
    <label for="landingMessage">Landing Message (Tagline)</label>
    <input name="landingMessage" type="text" class="form-control" name="landingMessage">
  </div>
	<br/>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create League"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<input type="hidden" name="admin" value="<%= currentuser.id %>" />
</form>
