<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
  <form action="/user/update/<%= user.id %>" method="POST" class="form-signin">

    <% if (flash && flash.err) { %>
    <ul class="alert alert-danger">
      <% Object.keys(flash.err.Errors).forEach(function(error) { %>
        <% flash.err.Errors[error].forEach(function(errorDesc) { %>
        <li><%= errorDesc.message %></li>
        <% }) %>
      <% }) %>
    </ul>
    <% } %>

    <input value="<%= user.firstName %>" name="firstName" type="text" class="form-control"/>
    <input value="<%= user.lastName %>" name="lastName" type="text" class="form-control"/>
    <input value="<%= user.email %>" name="email" type="text" class="form-control"/>
    <div class="checkbox">
      <label>
        <input name="notifyprocessedbets" type="checkbox" <%= user.notifyprocessedbets ? "checked" : "" %>> Email me when bets are processed
      </label>
    </div>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="UPDATE USER PROFILE"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
