<div class="container">
	<h3>League</h3>
	<table class='table standings'>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Money</th>
			<th>Pending</th>
			<th>Record</th>
      <th></th>
      <th></th>
		</tr>

		<% _.each(users, function(user, index) { %>
		<tr data-id="<%= user.id %>" data-model="user">
			<td><%= index+1 %></td>
			<td><%= user.firstName %> <%= user.lastName %></td>
			<td>
				<a href="transaction/show/<%= user.id %>">
				$<%= user.money %>
				</a>
			</td>
			<td>$<%= user.pending %></td>
			<td><%= user.record %></td>
      <td></td>
      <td></td>
		</tr>

		<% }) %>
	</table>
	<div>Average Money: $<%= (totalMoney / users.length).toFixed(0) %></div>
	<div>Total Record: <%= totalRecord %></div>
	<br><br>
	<div>House Earnings: <%= houseMoney %></div>
	<div>Total Vig (if the house took vig): <%= totalVigLoss %></div>
	<div>House Earnings w/ Vig: <%= houseMoneyWithVig %></div>
</div>
