<li class="list-group-item" data-bettable-id="<%= bet.bettableId %>" data-side-id="<%= bet.sideId %>">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p>
	<% if (bet.sideId == bet.bettable.sideId1) { %>
		<%= bet.bettable.team1 %> <%= bet.bettable.team1Spread %>
	<% } else { %>
		<%= bet.bettable.team2 %> <%= bet.bettable.team2Spread %>
	<% } %>
	</p>
	<p class="gametime"><%= bet.bettable.gameTime %></p>
	<p>
	<% if (bet.sideId == bet.bettable.sideId1) { %>
		<%= bet.bettable.team1 %> @ <%= bet.bettable.team2 %>
	<% } else { %>
		<%= bet.bettable.team2 %> vs <%= bet.bettable.team1 %>
	<% } %>
	</p>
  	<form class="form-horizontal">
    <div class="form-group">
        <label for="amount" class="control-label col-xs-6">Amount:</label>
        <div class="col-xs-5" style="float:right;">
            <input type="number" min="0" step="1" class="bet-amount form-control" id="amount" placeholder="$" value="<%= bet.amount %>">
        </div>
    </div>
	</form>
</li>