<div class="container">
<% if (betsByUser != null) { %>
	<div class="panel potential-bet-panel pending-bet-panel">
		<div class="panel-heading">
			<h3 class="panel-title">
				Pending Bets
			</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group pending-bet-list">
				<% _.each(betsByUser, function(bets) { %>
					<% _.each(bets, function(bet) { %>
						<li id="bet-<%= bet.id %>" class="list-group-item potential-bet" data-bettable-id="<%= bet.bettableId %>" data-bet-id="<%= bet.sideId %>">
							<p>
								<%= bet.user.firstName %> <%= bet.user.lastName %>
							<p>
							<% if (bet.sideId == bet.bettable.sideId1) { %>
								<%= bet.bettable.team1 %> <%= bet.line %>
							<% } else if (bet.sideId == bet.bettable.sideId2) { %>
								<%= bet.bettable.team2 %> <%= bet.line %>
							<% } else { %>
								<%= bet.over ? "Over" : "Under" %> <%= bet.line %>
							<% } %>
							</p>
							<p class="gametime">
							<%= bet.bettable.gameTime %>
							</p>
							<p>
							<% if (bet.sideId == bet.bettable.sideId1) { %>
								<%= bet.bettable.team1 %> @ <%= bet.bettable.team2 %>
							<% } else { %>
								<%= bet.bettable.team2 %> vs <%= bet.bettable.team1 %>
							<% } %>
							</p>
							<p>
							Amount: $<%= bet.amount %>
						  	</p>
						  	<% if (session.authenticated && session.User.admin) { %>
				            <p>
				            <div class="btn-group" role="group">
							  <button data-bet-id="<%= bet.id %>" type="button" class="btn btn-primary win-button">Win</button>
							  <button data-bet-id="<%= bet.id %>" type="button" class="btn btn-warning push-button">Push</button>
							  <button data-bet-id="<%= bet.id %>" type="button" class="btn btn-danger loss-button">Loss</button>
							</div>
							</p>
				            <% } %>
						</li>
					<% }) %>
				<% }) %>
			</ul>
		</div>
	</div>
<% } %>
</div>
