<div class="container">
<% if (bets != null) { %>
	<div class="panel panel-default potential-bet-panel">
		<div class="panel-heading">
			<h3 class="panel-title">
				Pending Bets
			</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group pending-bet-list">
			<% _.each(bets, function(bet) { %>
				<li id="bet-<%= bet.id %>" class="list-group-item" data-bettable-id="<%= bet.bettableId %>" data-bet-id="<%= bet.sideId %>">
					<p>
						<%= bet.user.firstName %> <%= bet.user.lastName %>
					<p>
					<% if (bet.sideId == bet.bettable.sideId1) { %>
						<%= bet.bettable.team1 %> <%= bet.bettable.team1Spread %>
					<% } else { %>
						<%= bet.bettable.team2 %> <%= bet.bettable.team2Spread %>
					<% } %>
					</p>
					<p>
					<%= bet.bettable.gameTime %>
					</p>
					<p>
					<% if (bet.sideId == bet.bettable.sideId1) { %>
						<%= bet.bettable.team1 %> @ <%= bet.bettable.team2 %>
					<% } else { %>
						<%= bet.bettable.team2 %> vs <%= bet.bettable.team1 %>
					<% } %>
					</p>
					<p>
					Amount: $<%= bet.amount %>
				  	</p>
				  	<p>
				  	<div class="btn-group" role="group">
					  <button data-bet-id="<%= bet.id %>" type="button" class="btn btn-default win-button">Win</button>
					  <button data-bet-id="<%= bet.id %>" type="button" class="btn btn-default loss-button">Loss</button>
					</div>
					</p>
				</li>
				<% }) %>
			</ul>
		</div>
	</div>
<% } %>
</div>