<div class="container">
	<h3>Account: $<%= total %></h3>
	<table class='table'>
		<tr>
			<th>Transaction</th>
			<th>Win/Loss</th>
			<th>Amount</th>
			<th>Tally</th>
		</tr>
		<tr><td>Account Creation</td><td></td><td><%= start %></td><td><%= start %></td></tr>
		<% _.each(bets, function(bet) { %>
		<tr data-id="<%= bet.id %>" data-model="transaction">
			<td>
				<% if (bet.sideId == bet.bettable.sideId1) { %>
					<%= bet.bettable.team1 %><%= bet.bettable.team1Spread %> @ <%= bet.bettable.team2 %>
				<% } else { %>
					<%= bet.bettable.team2 %><%= bet.bettable.team2Spread %> vs <%= bet.bettable.team1 %>
				<% } %>
			</td>
			<% if (bet.win === true) { %>
				<td>WIN</td>
				<td><%= bet.amount %></td>
			<% } else if (bet.win === false) { %>
				<td>LOSS</td>
				<td>-<%= bet.amount %></td>
			<% } else if (bet.complete === true) { %>
				<td>PUSH</td>
				<td>-</td>
			<% } else { %>
				<td>PENDING</td>
				<td>(<%= bet.amount %>)</td>
			<% } %>
			<td><%= bet.tally %></td>
		</tr>
		<% }) %>
	</table>
</div>