<div class="container">
	<h3>Account: $<%= money - pending %></h4>
	<h4>Money: $<%= money %> Pending: $<%= pending %></h4>
	<h4>Record: <%= record %></h4>
	<table class='table'>
		<tr>
			<th>Transaction</th>
			<th>Win/Loss</th>
			<th>Amount</th>
			<th>Tally</th>
		</tr>
		<tr><td>Account Creation</td><td></td><td><%= sails.config.league.startingAccount %></td><td><%= sails.config.league.startingAccount %></td></tr>
		<% _.each(bets, function(bet) { %>
		<tr data-id="<%= bet.id %>" data-model="transaction">
			<td>
				<% if (bet.sideId == bet.bettable.sideId1) { %>
					<%= bet.bettable.team1 %><%= bet.line %> @ <%= bet.bettable.team2 %>
				<% } else if (bet.sideId == bet.bettable.sideId2) { %>
					<%= bet.bettable.team2 %><%= bet.line %> vs <%= bet.bettable.team1 %>
				<% } else { %>
					<%= bet.over ? "Over" : "Under" %> <%= bet.line %> (<%= bet.bettable.team2 %> vs <%= bet.bettable.team1 %>)
				<% } %>
			</td>
			<% if (bet.win === true) { %>
				<td>WIN</td>
				<td><%= bet.amount %></td>
			<% } else if (bet.win === false) { %>
				<td>LOSS</td>
				<td>-<%= bet.amount %></td>
			<% } else if (bet.complete === true) { %>
				<td>PUSH</td>
				<td>-</td>
			<% } else { %>
				<td>PENDING</td>
				<td>(<%= bet.amount %>)</td>
			<% } %>
			<td><%= bet.tally %></td>
		</tr>
		<% }) %>
	</table>
</div>