<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
<% if (potentialBets != null) { %>
	<div class="panel panel-default potential-bet-panel">
		<div class="panel-heading">
			<h3 class="panel-title bet-slip-title">
				Bet Confirmation
			</h3>
		</div>
		<% if(flash && flash.err) { %>
            <ul class="alert alert-success">
        	<% Object.keys(flash.err).forEach(function(error) { %>
            	<li><%- JSON.stringify(flash.err[error]) %></li>
        	<% }) %>
        	</ul>
        <% } %>
		<div class="panel-body">
			<ul class="list-group potential-bet-list">
			<% _.each(potentialBets, function(bet) { %>
		    	<%- include ../../assets/templates/potentialBetTemplate.ejs %>
			<% }) %>
			</ul>
      <ul class="list-group ul-total-tally">
      <li class="list-group-item total-tally">
        <button id="confirm-bets" class="btn btn-primary btn-default center-block" type="button">
          Confirm <span id="num-bets"><%= potentialBets.length %></span> Bet<span
            id="num-bets-plural"><%= ((potentialBets.length == 1) ? "" : "s") %></span> for $<span
            id="bets-total-amount"><%= totalAmount %></span>
        </button>
      </li>
			</ul>
		</div>
	</div>
<% } %>
</div>
