<% if (session.authenticated && session.League) { %>
<div class="league-header">
  <div class="container">
    <div class="league-header-label">The League:</div>
    <div class="league-header-league-name"><%= session.League.name.toUpperCase() %></div></div>
</div>
<% } %>
<% if (!session.authenticated || !session.League) { %>
<%- include league-choice.ejs %>
<% } else { %>
<div class="navbar-container home-page">
    <div class="col-xs-12 col-sm-4 col-md-4 home-page-panel">
      <%- include rules.ejs %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 home-page-panel">
      <%- include mini-standings.ejs %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 home-page-panel">
      <%- include mini-bets.ejs %>
    </div>
</div>
<% } %>
<% if (!session.authenticated || !session.League) { %>
<div class="signin-page">
</div>
<div class="signin-page-overlay"></div>
<% } %>
