<div class="inner-home-page-panel">
<h3 class="home-page-panel-heading">Leaderboard</h3>
<div class="home-page-panel-content">
<div class="home-page-panel-content-inner">
<table class='table standings'>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Money</th>
  </tr>
  <% _.each(gamblers, function(gambler, index) { %>
  <tr data-id="<%= gambler.user.id %>" data-model="gambler">
    <td><%= index + 1 %></td>
    <td><%= gambler.user.firstName %> <%= gambler.user.lastName %></td>
    <td>
      <a href="transaction/show/<%= gambler.id %>">
        $<%= gambler.money %>
      </a>
    </td>
  </tr>
  <% }) %>
</table>
</div>
</div>
<div class="panel-action-row">
  <form action="/standings" method="get">
  <input type="submit" class="btn btn-lg btn-primary btn-block panel-action" value="SEE THE STANDINGS"/>
  </form>
</div>
</div>
