<div class="container">
	<div class="row">
		<div class="col-md-8">
		<h3>Games</h3>
      <% _.each(bettables, function(bettable) { %>
          <div class="row game-row">
            <div class="col-md-4 gametime game-time">
              <%= bettable.gameTime %>
            </div>
            <div class="col-md-8">
              <div class="row team-row">
                <div class="col-xs-4 team-name">
                  <%= bettable.team1 %>
                </div>
                <div class="col-xs-4">
                  <% if (!bettable.off) { %>
                  <% if (buttonIsDisabled(bettable.id + "-" + bettable.sideId1, disabledButtons)) { %>
                  <input type="submit" disabled="false" class="bet-btn btn btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-side-id="<%= bettable.sideId1 %>" value="<%= bettable.team1Spread %>"/>
                  <% } else { %>
                  <input type="submit" class="bet-btn btn btn-primary btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-side-id="<%= bettable.sideId1 %>" value="<%= bettable.team1Spread %>"/>
                  <% } %>
                  <% } %>
                </div>
                <div class="col-xs-4">
                  <% if (!bettable.ouoff) { %>
                  <% if (buttonIsDisabled(bettable.id + "-true", disabledButtons)) { %>
                  <input type="submit" disabled="false" class="bet-btn btn btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-over="true" value="Over <%= bettable.overunder %>"/>
                  <% } else { %>
                  <input type="submit" class="bet-btn btn btn-primary btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-over="true" value="Over <%= bettable.overunder %>"/>
                  <% } %>
                  <% } %>
                </div>
              </div>
              <div class="row team-row">
                <div class="col-xs-4 team-name">
                  <%= bettable.team2 %>
                </div>
                <div class="col-xs-4">
                  <% if (!bettable.off) { %>
                  <% if (buttonIsDisabled(bettable.id + "-" + bettable.sideId2, disabledButtons)) { %>
                  <input type="submit" disabled="false" class="bet-btn btn btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-side-id="<%= bettable.sideId2 %>" value="<%= bettable.team2Spread %>"/>
                  <% } else { %>
                  <input type="submit" class="bet-btn btn btn-primary btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-side-id="<%= bettable.sideId2 %>" value="<%= bettable.team2Spread %>"/>
                  <% } %>
                  <% } %>
                </div>
                <div class="col-xs-4">
                  <% if (!bettable.ouoff) { %>
                  <% if (buttonIsDisabled(bettable.id + "-false", disabledButtons)) { %>
                  <input type="submit" disabled="false" class="bet-btn btn btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-over="false" value="Under <%= bettable.overunder %>"/>
                  <% } else { %>
                  <input type="submit" class="bet-btn btn btn-primary btn-sm btn-block" data-bettable-id="<%= bettable.id %>" data-over="false" value="Under <%= bettable.overunder %>"/>
                  <% } %>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
      <% }) %>

		</div>
		<div class="col-md-4 sidebar-outer">
			<%- include ../cart/index.ejs %>
		</div>
	</div>
</div>

