<div class="container">
	<div class="row">
		<div class="col-md-8">
		<h3>Games</h3>
		<table class='table'>

			<% _.each(bettables, function(bettable) { %>
			<tr data-id="<%= bettable.id %>" data-model="bettable">
				<td class="gametime" rowspan="2"><%= bettable.gameTime %></td>
				<td><%= bettable.team1 %></td>
				<td><%= bettable.team1Spread %></td>
				<td>
					<% if (!bettable.off) { %> 
						<input type="submit" class="bet-btn btn btn-sm" data-bettable-id="<%= bettable.id %>" data-side-id="<%= bettable.sideId1 %>" value="Bet"/>
					<% } %>
				</td>

			</tr>
			<tr data-id="<%= bettable.id %>" data-model="bettable">
				<td><%= bettable.team2 %></td>
				<td><%= bettable.team2Spread %></td>
				<td>
					<% if (!bettable.off) { %>
						<input type="submit" class="bet-btn btn btn-sm" data-bettable-id="<%= bettable.id %>" data-side-id="<%= bettable.sideId2 %>" value="Bet"/>
					<% } %>
				</td>
			</tr>

			<% }) %>
		</table>
		</div>
		<div class="col-md-4 sidebar-outer">
			<%- include ../cart/index.ejs %>
		</div>
	</div>
</div>

	