<li class="list-group-item potential-bet" data-bettable-id="<%= bet.bettable.id %>"
<% if (bet.sideId!=null) { %>
	data-side-id="<%= bet.sideId %>"
<% } %>
<% if (bet.over!=null) { %>
	data-over=<%= bet.over %>
<% } %>
>
	<% if (!confirmation) { %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<% } %>
	<div class="row">
  <div class="col-xs-9">
  <p><strong>
	<% if (bet.sideId == bet.bettable.sideId1) { %>
		<%= bet.bettable.team1 %> <%= bet.bettable.team1Spread %>
	<% } else if (bet.sideId == bet.bettable.sideId2) { %>
		<%= bet.bettable.team2 %> <%= bet.bettable.team2Spread %>
	<% } else if (bet.over != null) { %>
		<%= (bet.over==="true" ? "Over " : "Under ") + bet.bettable.overunder %>
	<% } %>
  </strong></p>
	<p class="gametime"><%= bet.bettable.gameTime %></p>
	<p>
	<% if (bet.over!= null || bet.sideId == bet.bettable.sideId1) { %>
		<%= bet.bettable.team1 %> at <%= bet.bettable.team2 %>
	<% } else { %>
		<%= bet.bettable.team2 %> at <%= bet.bettable.team1 %>
	<% } %>
	</p>
  </div>
	<% if (confirmation) { %>
		<div class="bet-amount-container">Amount: $<%= bet.amount %></div>
	<% } else { %>
    <div class="input-group bet-amount-container">
      <span class="input-group-addon bet-amount-addon">$</span>
      <input type="number" min="0" step="1" class="form-control bet-amount" id="amount" value="<%= bet.amount %>">
    </div>
	<% } %>
  </div>
</li>
